extends header.pug

block content
    div(class="ui" style="text-align:center;")
        h1(class="bottomheader2" style="font-family: 'Noto Sans KR', sans-serif;") 게시판

    table(class="ui striped table tablesize")
        thead
            tr
                th 번호
                th 제목
                th 이름
                th 작성일
        tbody
            tr
                td John Lilki
                td September 14, 2013
                td jhlilk22@yahoo.com
                td 111
            tr
                td John Lilki
                td September 14, 2013
                td jhlilk22@yahoo.com
                td 111
            tr
                td John Lilki
                td September 14, 2013
                td jhlilk22@yahoo.com
                td 111