extends header.pug

block content
    div(class="ui" style="text-align:center;")
        h1(class="bottomheader2" style="font-family: 'Noto Sans KR', sans-serif;") 추가

    form(class="ui form" action="./create_process" method="post")
        div(class="field")
            label 제목
            input(type="text" name="title" placeholder="Title" required)
        div(class="field")
            label 이름
            input(type="text" name="name" placeholder="Name" required)
        div(class="field")
            label 내용
            textarea(name="content" placeholder="Content")
        button(class="ui button" type="submit") Submit