extends header.pug

block content
    div(class="ui" style="text-align:center;")
        a(href="/" class="bottomheader" style="font-family: 'Dancing Script', cursive;") KIMJISEUNGCRAZY

    div(class="ui text menu" style="justify-content: center;")
        a(class="item itemsize" href="/") Home
        a(class="item itemsize" href="/message") Messages
        a(class="item itemsize" href="/video") Video

    div(class="align")

    script(src="../public/javascript/bg.js")
