extends header.pug

block content
    div(className="ui container")
        div(class="ui search")
            form(class="search1")
                div(class="ui icon input video1")
                    input(id="inputdata" class="prompt" type="text" placeholder="Search videos...")
                    i(class="search icon")
                div(class="results")

    script(src="../public/javascript/video.js")