extends header.pug

block content
    div(class="ui container")
        div(class="ui search")
            form(class="search1")
                div(class="ui icon input video1")
                    input(id="inputdata" class="prompt" type="text" placeholder="Search videos..." autocomplete="off")
                    i(class="search icon")
                div(class="results")

        div(class="ui grid")
            div(class="ui row")
                div(class="eleven wide column")
                    div(class="video_detail")
                        div(class="ui embed")
                            iframe(title="video player" class="player")
                        div(class="ui segment")
                            h4(class="ui header header22")
                            p(id="prime")
                
                div(class="five wide column")
                    div(class="youtube ui relaxed divided list")
                            div(class="video-item item wow1")
                                img(class="ui image image1")
                                div(class="content")
                                    div(class="header header11")
                            div(class="video-item item wow2")
                                img(class="ui image image2")
                                div(class="content")
                                    div(class="header header12")
                            div(class="video-item item wow3")
                                img(class="ui image image3")
                                div(class="content")
                                    div(class="header header13")
                            div(class="video-item item wow4")
                                img(class="ui image image4")
                                div(class="content")
                                    div(class="header header14")
                            div(class="video-item item wow5")
                                img(class="ui image image5")
                                div(class="content")
                                    div(class="header header15")

    script(src="../public/javascript/video.js")